services:
  app:
    build: .
    container_name: task_manager_app
    restart: unless-stopped
    env_file: .env
    ports:
      - '3000:3000'
    depends_on:
      - mongo
    networks:
      - tm-net

  mongo:
    image: mongo:latest
    container_name: task_manager_mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db
    networks:
      - tm-net
    healthcheck:
      test:
        [
          'CMD',
          'mongosh',
          '-u',
          '${MONGO_INITDB_ROOT_USERNAME}',
          '-p',
          '${MONGO_INITDB_ROOT_PASSWORD}',
          '--eval',
          "db.adminCommand('ping')",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  mongo-express:
    image: mongo-express:latest
    container_name: task_manager_mongo_express
    restart: unless-stopped
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      ME_CONFIG_MONGODB_SERVER: mongo
    ports:
      - '8081:8081'
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - tm-net

volumes:
  mongo-data:

networks:
  tm-net:
    driver: bridge
